.auth__form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 2rem;

  .input__group {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    label {
      color: #000;
      font-weight: 600;
    }

    input {
      height: 4rem;
      padding: 0 1.5rem;
      border: solid 1px #dbdbdb;
      border-radius: 8px;
      font-size: 1.3rem;

      &.error {
        border-color: red;
      }
    }

    .error-message {
      color: red;
      font-size: 1.2rem;
    }
  }

  button {
    font-size: 1.3rem;
    text-transform: uppercase;
    height: 4rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    background-color: #6c63ff;
    color: #fff;

    &:disabled {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}

.auth {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;

  &__container {
    width: 100%;
    max-width: 50rem;
    padding: 2.5rem;
    margin: 5rem auto;
    border: solid 1px #dbdbdb;
    border-radius: 0.8rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: #fff;
  }

  h1 {
    font-size: 2.6rem;
    margin-bottom: 4rem;
  }

  .error-login,
  .error-register {
    text-align: center;
    margin-bottom: 1.5rem;
    color: red;
    font-size: 1.3rem;
  }

  .btns__provider {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    button {
      cursor: pointer;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.8rem;
      background-color: #fff;
      border: solid 1px #dbdbdb;
      border-radius: 8px;
      font-size: 1.3rem;
    }

    button svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .line {
    margin: 3rem 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    position: relative;

    span {
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      width: 5rem;
      display: block;
      text-align: center;
      color: #ccc;
    }
  }

  .forgot-password {
    font-size: 1.3rem;
    color: #6c63ff;
    margin-bottom: 1rem;
  }

  .register-link {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    column-gap: 0.5rem;

    a {
      color: #6c63ff;
    }
  }
}
